body
{
	background-color: snow;
	font-family: "Century Gothic"
}
.player1
{
	font-style: normal;
	color: red;
}
.player2
{
	font-style: normal;
	color: deepskyblue;
}
.player3
{
	font-style: normal;
	color: orange;
}
.player4
{
	font-style: normal;
	color: forestgreen;
}
#player1
{
	background-color: #FF3300;
    text-align: center;
	color: white;
	margin-left: 175px;
}
#player2
{
	background-color: #0AEB8D;
	text-align: center;
	color: white;
/*	width: 250px;*/
	margin-left: 22px;
}
#PlayerCreate
{
background-color: #A6BAFF;
color: white;
border-radius: 25px;
height: 250px;
margin-left: 350px;
z-index: 12;
}
#game
{
	background-color: white;
	width: 800px;
	height: 400px;
	margin-left: 175px;
	border: 1px, solid, black;
}